<p>This website was designed and developed by <a href="http://martabeveridge.uk" target="_blank">Marta Beveridge</a>. </p>

<p>As part of CodeClan's 16 week programming course, I was asked to create a web app using Sinatra, PostGRES SQL, HTML / CSS, Ruby. The app should <u>not</u> use any Object Relational Mapper, JavaScript or Authentication.</p>
