<img src="/images/logo.png">

<p>Welcome to Plantry, your solution to leftovers.</p>

<p>Plantry helps you find recipes that work for you by taking in what is in<br> your fridge and cupboard, and suggesting recipes. </p>

<p>So, what's in your pantry?</p>
