<a href="/"><img src="/images/logo.png"></a>

<p>As part of CodeClan's 16 week programming course, I was asked to create a web app using Ruby, Sinatra, SQL, HTML, and CSS. I chose to design and implement Plantry.<p>

<p>Plantry is designed to help you find cooking inspiration. It helps you find recipes that work for you by taking in what is in your fridge and cupboard, and suggesting recipes.<p>

<p>The project started with the following MVP:
<ul>
  <li>Create a table of ingredients.</li>
	<li>Create a table of recipes.</li>
	<li>Create a table of recipe ingredients to link them together.</li>
	<li>Be able to click on an ingredient on the homepage and display recipes that match the ingredient.</li>
  <li>Be able to click on an ingredient on the homepage and display recipes that match the ingredient.</li>
	<li>You should be able to add a recipe.</li>
	<li>The website should be nicely formatted.</li>
</ul>
</p>

<p>The following extensions were planned for further expansion of the app:
	<li>You should be able to search with multiple ingredients and be returned recipes that match all selected ingredients.</li>
	<li>You should be able to filter recipes by veggie and freezable.</li>
	<li>You should be able to sort recipes by the ones that require you to buy the least amount of ingredients.</li>
</p>
