<p>Plantry is designed to help you find cooking inspiration. It helps you find recipes that work for you by taking in what is in your fridge and cupboard, and suggesting recipes which use those ingredients.</p>

<p>The project started with the following MVP:
  <li>Create a table of ingredients, recipes, and a linking table for these.</li>
	<li>Allow the user to see all recipes, and click on a recipe to see how to make it.</li>
	<li>Let the user click on an ingredient on the homepage and display a table of recipes which match the ingredient.</li>
	<li>The user should be able to add their own recipes.</li>
</p>

<p>The following extensions were planned for further expansion of the app:
  <li>The user could be able to filter recipes by veggie and freezable.</li>
  <li>The user could be able to search with multiple ingredients and be returned recipes that match all selected ingredients.</li>
	<li>The user could be able to sort recipes by the ones that require you to buy the least amount of ingredients.</li>
</p>
