/* Main CSS */

body {
  background: white url('/images/background.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: #f3f1ea;
  font-family: 'Padauk';
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

nav {
  border-right: 3px solid #f3f1ea;
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  min-width: 175px
}

a, a:link, a:visited {
  color: #ffbf80;
}

a:hover, a:active, a:focus {
  color: #587b41;
}

ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav ul li {
  margin-bottom: 10px;
}

/* CSS by ID */

#content {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

#ingredients-list {
  margin: 0 auto;
  width: 500px;
}

#ingredients-list li{
  display: inline;
}

/* Flex syntax */

.flex {
  display: flex;
}

/* .flex--row {
  flex-direction: row;
} */

/* textarea {
  display: inline;
  resize: none;
  width: 50%
}

.inline {
  display: inline;
}

.home p {
  flex-direction: column;
  text-align: center;
}

.home table {
  flex-direction: column;
  text-align: center;
}

main {
  padding: 20px;
} */

/*  Media Queries */
