body {
  background: white url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3f1ea;
  font-family: 'Padauk';
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

.home p {
  flex-direction: column;
  text-align: center;
}

.home h1 {
  font-size: 1.5em;
  color: ;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
}

a, a:link, a:visited {
  color: #ffbf80;
}

a:hover, a:active, a:focus {
  color: #587b41;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav a {
  text-decoration: none;
}

nav ul li {
  margin-bottom: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 3px solid #f3f1ea;
  padding-left: 25px;
}
