/* Main CSS */

body {
  background: white url('/images/background.jpg');
  background-size: 100%;
  color: #35362f;
  font-family: 'Padauk';
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav {
  border-right: 3px solid #f3f1ea;
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  min-width: 175px
}

a, a:link, a:visited {
  color: #51661A;
}

a:hover, a:active, a:focus {
  color: #8B8F65;
}

main {
  padding: 15px;
}

nav a {
  text-decoration: none;
}

nav ul li {
  margin-bottom: 10px;
}

textarea {
  display: inline;
  resize: none;
  width: 50%
}

ul {
  list-style-type: none;
}

/* CSS by page*/

.home p {
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* CSS by ID */

#content {
  display: flex;
  flex-direction: column;
  width: 45em;
}

#content img {
  width: 200px
}

#ingredients-list {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

#ingredients-list li{
  display: inline;
  text-align: center;
  font-size: 1.2em;
  padding: 15px;
}

#ingredient-selector {
  margin: 0 auto;
  display: inline;
}

/* Flex syntax */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
  } */

  /*  Media Queries */
